{{- $og := .Site.Data.site.opengraph -}}
{{- $baseUrl := $og.baseUrl | default "" -}}
{{- $isHomepage := .IsHome -}}

{{- /* Determine page type */ -}}
{{- $ogType := "website" -}}
{{- if and (not $isHomepage) .IsPage -}}
  {{- $ogType = "article" -}}
{{- end -}}

{{- /* Title: use page title, or site title for homepage */ -}}
{{- $title := .Title -}}
{{- if $isHomepage -}}
  {{- $title = printf "%s - %s" .Site.Data.person.name .Site.Data.person.description -}}
{{- end -}}

{{- /* Description: use page excerpt/description, or site description */ -}}
{{- $description := .Site.Data.site.description -}}
{{- if .Params.excerpt -}}
  {{- $description = .Params.excerpt -}}
{{- else if .Params.description -}}
  {{- $description = .Params.description -}}
{{- else if .Description -}}
  {{- $description = .Description -}}
{{- end -}}

{{- /* URL: canonical URL */ -}}
{{- $url := $baseUrl -}}
{{- if not $isHomepage -}}
  {{- $url = printf "%s%s" $baseUrl .RelPermalink -}}
{{- end -}}

{{- /* Image: use page image or default */ -}}
{{- $image := $og.image | default .Site.Data.person.img -}}
{{- if .Resources -}}
  {{- with .Resources.GetMatch "*.{jpg,jpeg,png,gif,webp}" -}}
    {{- $image = printf "%s%s" $baseUrl .RelPermalink -}}
  {{- end -}}
{{- end -}}
{{- if .Params.image -}}
  {{- if hasPrefix .Params.image "http" -}}
    {{- $image = .Params.image -}}
  {{- else -}}
    {{- $image = printf "%s%s" $baseUrl .Params.image -}}
  {{- end -}}
{{- end -}}

<!-- OpenGraph Meta Tags -->
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:type" content="{{ $ogType }}" />
<meta property="og:url" content="{{ $url }}" />
<meta property="og:image" content="{{ $image }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="{{ $og.locale | default "en_US" }}" />

{{- /* Article-specific metadata */ -}}
{{- if eq $ogType "article" -}}
{{- if .Date -}}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end -}}
{{- if .Lastmod -}}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end -}}
<meta property="article:author" content="{{ .Site.Data.site.author }}" />
{{- range .Params.tags -}}
<meta property="article:tag" content="{{ . }}" />
{{- end -}}
{{- end -}}

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />
{{- with $og.twitter -}}
<meta name="twitter:site" content="@{{ . }}" />
<meta name="twitter:creator" content="@{{ . }}" />
{{- end -}}

<!-- Canonical URL -->
<link rel="canonical" href="{{ $url }}" />
